.warp{
    /* Layout Properties */
top: 0px;
left: 0px;
width: 1280px;
height: 800px;
margin: 0 auto;
/* UI Properties */
background: #293B29 0% 0% no-repeat padding-box;
opacity: 1;
position: relative;
}
.clock{
    height: 800px;
    width: 1280px;
    background-image: url(../images/clock-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.time-center{
    position: absolute;
    top:50%;
    left: 50%;
}
.time-hour {
    position: absolute;
    top:49.6%;
    left: 50%;
    transform-origin: 0% 50%; 
}
.time-minute{
    position: absolute;
    top:49.8%;
    left: 49.7%;
    transform-origin: 50% 0%;
}
.time-second{
    position: absolute;
    top:50%;
    left: 49.6%;
    transform-origin: 50% -1%;
}
